<div class="col-10 offset-1">
  <h1 class="about">About Splurty</h1>
</div>

 <p>
    Splurty was built by <a target="_blank" href="https://alicecode.netlify.com/">Alice Duff</a>, as part of George Washington University's Coding Bootcamp.
  </p>
  <br />
  <p>
    She's always improving and adding to her portfolio, but this is Alice's first true web app!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-4 col-sm-2">
      <%= image_tag 'Tye.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alice Duff</h2>
      <br />
      <p>
        Alice is a Management & Program Analyst (MPA) with RAIO IDEA, where she builds locally developed solutions to help individual offices manage thier workload. Before that, she was an MPA with the Arlington Asylum Office, where she managed a database used to track and schedule cases. She joined the federal government after her two year journey with the Peace Corps as an English Teacher in Cambodia.

        <br />

        Alice's Bachelor's Degree is in Japanese Studies, and in her free time she likes to write code, do math, and read sci-fi/fantasty novels.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />