<h1 class="welcome">Here's An Ideal:</h1>
<h1><%= @quote.saying %></h1>
<h2><%= @quote.author %></h2>
<footer class="credits"> All quotes by Brandon Sanderson, and can be found in The Stormlight Archive novels</footer>