<div class="mainbody">
  <div class="container">
  <h1 class="welcome">
    Here's An Ideal: </h1>
    <br />
    <h2 class="quotecounter"><span>No. <%= @quote.id %></span>  </h2>
   <h1><%= @quote.saying %></h1>
  <h2 class="float-right">--<%= @quote.author %></h2>
</div>
</div>
<br class="clear" />
<br />
<br />
<br />
