@font-face {
    font-family: 'bilboregular';
    src: font_url('bilbo-regular-webfont.woff2') format('woff2'),
         font_url('bilbo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bilbo_swash_capsregular';
    src: font_url('bilboswashcaps-regular-webfont.woff2') format('woff2'),
         font_url('bilboswashcaps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}