@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

.clear {
  clear: both;
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #093273;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'bilboregular';
  padding-top: 26px;
  text-align: center;
  font-size: 24px;
}

.credits {
  font-family: 'bilboregular';
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.links {
  padding-top: 26px;
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: -2.5px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #141452;
  text-align: center;
}

header {
  border-top: 9px solid #141452;
}

hr {
  clear:both;
}

.welcome {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 1000;
  letter-spacing: 1.5px;
  }

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 1;
  margin-left: 10px;
  }

h2 {
  font-family: 'Bad Script', cursive;
  font-weight: 100;
  letter-spacing: -1.5px;
  margin-left: 10px;
}

.next-quote {
  font-family: 'bilboregular';
  color:#f84342;
  font-size: 20px;
  font-weight: 1000;
}

.logo:hover {
  text-decoration: none;
}

.about {
  font-family: 'bilboregular';
  text-align: center;
}

.mainbody {
  margin-left: 5%;
}

@media (max-width: 750px) {
  .footer-blurb {
  text-align: left;
  }
}

.modal-body {
  font-family: 'Cinzel', serif;
}

.modal-title {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
}

.quotecounter{
  font-family: 'Bad Script', cursive;
  letter-spacing: 1.5px;
  color:#33334d;
}

.set-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  @include make-container();
}

::selection {
  background-color: #093273;
  color: #FFFFFF;
}